In [1]:
import os
import sys

MODULE_PATH = 'C:\Github\DL_Study\Base'
MODEL_PATH = 'C:\Github\DL_Study\RNN'

sys.path.insert(0, MODULE_PATH)
sys.path.insert(0, MODEL_PATH)

import numpy
from config import *
from attention import *

In [2]:
# configuration setting
def model_config():
    # parameter for LSTM Model
    epochs = [30]
    batch_size = [64]
    learning_rate = [0.01, 0.001]
    
    # create config data
    configs = []
    for i in epochs:
        for j in batch_size:
            for k in learning_rate:
                config = [i, j, k]
                configs.append(config)
    return configs

# fucntion for fit cnn model using configs
def model_fit(train_X, train_y, config):
    # unpack config
    n_epochs, n_batch, learning_rate = config
    model = AttentionSeq2Seq(time_size=24, hidden_size=64, feature_size=14)
    # fit model and return
    model.fit(train_X=train_X, train_y=train_y, epochs=n_epochs, 
              batch_size=n_batch, learning_rate=learning_rate)
    return model

def MAE_metric(x, t):
    return np.mean(numpy.abs(x-t))

def MSE_metric(x, t):
    return np.mean((x-t)**2)

In [3]:
import pandas as pd
import time
import numpy
import urllib.request
import io
from scipy.io import arff

np.random.seed(42)
numpy.random.seed(42)

data_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00264/EEG%20Eye%20State.arff'
ftpstream = urllib.request.urlopen(data_url)
data = arff.loadarff(io.StringIO(ftpstream.read().decode('utf-8')))
df = pd.DataFrame(data[0])
df['eyeDetection'] = df['eyeDetection'].astype(str)
df['eyeDetection'].replace('(.*)0(.*)', '0', regex=True, inplace=True)
df['eyeDetection'].replace('(.*)1(.*)', '1', regex=True, inplace=True)
df['eyeDetection'] = df['eyeDetection'].astype(float)
df.head()

,AF3,F7,F3,FC5,T7,P7,O1,O2,P8,T8,FC6,F4,F8,AF4,eyeDetection
0,4329.23,4009.23,4289.23,4148.21,4350.26,4586.15,4096.92,4641.03,4222.05,4238.46,4211.28,4280.51,4635.90,4393.85,0.0
1,4324.62,4004.62,4293.85,4148.72,4342.05,4586.67,4097.44,4638.97,4210.77,4226.67,4207.69,4279.49,4632.82,4384.10,0.0
2,4327.69,4006.67,4295.38,4156.41,4336.92,4583.59,4096.92,4630.26,4207.69,4222.05,4206.67,4282.05,4628.72,4389.23,0.0
3,4328.72,4011.79,4296.41,4155.90,4343.59,4582.56,4097.44,4630.77,4217.44,4235.38,4210.77,4287.69,4632.31,4396.41,0.0
4,4326.15,4011.79,4292.31,4151.28,4347.69,4586.67,4095.90,4627.69,4210.77,4244.10,4212.82,4288.21,4632.82,4398.46,0.0

In [4]:
# series data to img function
def series_to_img(dataset, time_step=1):
    num = dataset.shape[1]      # features num
    df = pd.DataFrame(dataset)
    cols, names = list(), list()
    # sequence t-n to t-1
    for i in range(time_step, 0, -1):
        cols.append(df.shift(i))
        names += [('var%d(t-%d)' % (j+1, i)) for j in range(num)]

    for i in range(0, 1):
        cols.append(df.shift(-i))
        if i == 0:
            names += [('var%d(t)' % (j+1)) for j in range(num)]
        else:
            names += [('var%d(t+%d)' % (j+1, i)) for j in range(num)]

    agg = pd.concat(cols, axis=1)
    agg.columns = names
    agg.dropna(inplace=True)
    return agg

from sklearn.model_selection import TimeSeriesSplit
from sklearn.preprocessing import MinMaxScaler

dataset = df.values
dataset = dataset.astype('float')

n_inputs = 24
n_features = 14
del_idx = n_inputs * (n_features + 1)
del_cols = [i for i in range(n_features, del_idx, n_features+1)]
del_cols += [i for i in range(del_idx-1, del_idx+n_features)]
new_df = series_to_img(dataset, n_inputs)
new_df.drop(new_df.columns[del_cols], axis=1, inplace=True)
new_df.head()

,var1(t-24),var2(t-24),var3(t-24),var4(t-24),var5(t-24),var6(t-24),var7(t-24),var8(t-24),var9(t-24),var10(t-24),...,var6(t-1),var7(t-1),var8(t-1),var9(t-1),var10(t-1),var11(t-1),var12(t-1),var13(t-1),var14(t-1),var15(t)
24,4329.23,4009.23,4289.23,4148.21,4350.26,4586.15,4096.92,4641.03,4222.05,4238.46,...,4586.15,4088.21,4621.54,4213.33,4238.46,4208.72,4271.28,4634.36,4385.13,0.0
25,4324.62,4004.62,4293.85,4148.72,4342.05,4586.67,4097.44,4638.97,4210.77,4226.67,...,4585.64,4087.18,4630.26,4230.26,4242.56,4208.72,4270.26,4627.69,4378.97,0.0
26,4327.69,4006.67,4295.38,4156.41,4336.92,4583.59,4096.92,4630.26,4207.69,4222.05,...,4585.13,4088.21,4638.97,4231.79,4247.69,4209.23,4269.74,4625.13,4386.15,0.0
27,4328.72,4011.79,4296.41,4155.90,4343.59,4582.56,4097.44,4630.77,4217.44,4235.38,...,4587.18,4087.69,4634.36,4209.23,4232.31,4197.44,4262.05,4615.38,4381.03,0.0
28,4326.15,4011.79,4292.31,4151.28,4347.69,4586.67,4095.90,4627.69,4210.77,4244.10,...,4585.64,4086.67,4617.44,4189.23,4216.41,4186.15,4253.85,4604.10,4362.05,0.0

In [5]:
n_splits = 10
train_test_split = TimeSeriesSplit(n_splits=n_splits+1, gap=n_inputs).split(new_df)
next(train_test_split)

configs = model_config()
history = []

best_rmse, best_mse, best_mae = [], [], []
learning_time = []
i = 1

print('config : epochs, batch_size, learning_rate')

# neted cross validation
for train_cv_indices, test_cv_indices in train_test_split:
    print(f'fold : {i}/{n_splits}')
    i+=1

    # split x, y data
    train_cv_X, train_cv_y = new_df.iloc[train_cv_indices, :-1].values, new_df.iloc[train_cv_indices,-1].values
    test_cv_X, test_cv_y = new_df.iloc[test_cv_indices, :-1].values, new_df.iloc[test_cv_indices, -1].values

    # length for validation set
    test_length = int(len(train_cv_X)*0.2)

    # scaling data
    scaler_x = MinMaxScaler()
    train_cv_X = scaler_x.fit_transform(train_cv_X)
    test_cv_X = scaler_x.transform(test_cv_X)

    train_X, val_X = train_cv_X[:-test_length, :], train_cv_X[-test_length:, :]
    train_y, val_y = train_cv_y[:-test_length], train_cv_y[-test_length:]

    # reshape
    # inner loop
    train_X = train_X.reshape(-1,  n_inputs, n_features)
    val_X = val_X.reshape(-1, n_inputs, n_features)
    train_y = train_y.reshape(-1, 1)
    val_y = val_y.reshape(-1, 1)

    # outer loop
    train_cv_X = train_cv_X.reshape(-1,  n_inputs, n_features)
    test_cv_X = test_cv_X.reshape(-1, n_inputs, n_features)
    train_cv_y = train_cv_y.reshape(-1, 1)
    test_cv_y = test_cv_y.reshape(-1, 1)

    # model fit, inner
    errors = []
    for idx, cfg in enumerate(configs):
        print(f' == train {cfg} model == ', end=' ')
        model = model_fit(train_X, train_y, cfg)
        model.reset_state()
        predicted = model.predict(val_X)
        if GPU:
            predicted = np.asnumpy(predicted)
        error = np.sqrt(MSE_metric(predicted, val_y))   # rmse
        print(f' error(RMSE):{error}')
        if errors:
            if error < min(errors):
                param = idx
        else:
            param = idx
        errors.append(error)

    history.append(errors)
    
    # check start time
    start_time = time.time()
    # model fitting
    selected_model = model_fit(train_cv_X,train_cv_y, configs[param])
    # check duration
    duration = time.time()-start_time
    selected_model.reset_state()
    predicted = selected_model.predict(test_cv_X)
    if GPU:
        predicted = np.asnumpy(predicted)

    rmse = np.sqrt(MSE_metric(predicted, test_cv_y))
    mse = MSE_metric(predicted, test_cv_y)
    mae = MAE_metric(predicted, test_cv_y)
    best_rmse.append(rmse)
    best_mse.append(mse)
    best_mae.append(mae)
    learning_time.append(duration)

    # model eval
    print(f'train-size:{train_X.shape[0]}, val-size:{val_X.shape[0]}, test-size:{test_cv_X.shape[0]}')
    print(f'best_model => error(rmse) : {rmse.item():.2f}, param:{configs[param]}, times : {duration:.3f}')
    print()

config : epochs, batch_size, learning_rate
fold : 1/10
 == train [30, 64, 0.01] model ==   error(RMSE):0.5956852207975115
 == train [30, 64, 0.001] model ==   error(RMSE):0.8032266808893024
train-size:1978, val-size:494, test-size:1246
best_model => error(rmse) : 0.57, param:[30, 64, 0.01], times : 46.920

fold : 2/10
 == train [30, 64, 0.01] model ==   error(RMSE):0.5483313372524902
 == train [30, 64, 0.001] model ==   error(RMSE):0.60361990548674
train-size:2975, val-size:743, test-size:1246
best_model => error(rmse) : 0.53, param:[30, 64, 0.01], times : 70.455

fold : 3/10
 == train [30, 64, 0.01] model ==   error(RMSE):0.632206288769939
 == train [30, 64, 0.001] model ==   error(RMSE):0.5760563391652723
train-size:3972, val-size:992, test-size:1246
best_model => error(rmse) : 0.64, param:[30, 64, 0.001], times : 94.875

fold : 4/10
 == train [30, 64, 0.01] model ==   error(RMSE):0.5342456514371147
 == train [30, 64, 0.001] model ==   error(RMSE):0.6106186568652323
train-size:4968, val-size:1242, test-size:1246
best_model => error(rmse) : 0.55, param:[30, 64, 0.01], times : 116.255

fold : 5/10
 == train [30, 64, 0.01] model ==   error(RMSE):0.5297663233407175
 == train [30, 64, 0.001] model ==   error(RMSE):0.6322621508564694
train-size:5965, val-size:1491, test-size:1246
best_model => error(rmse) : 0.48, param:[30, 64, 0.01], times : 140.907

fold : 6/10
 == train [30, 64, 0.01] model ==   error(RMSE):0.48544898195225766
 == train [30, 64, 0.001] model ==   error(RMSE):0.7152416309009485
train-size:6962, val-size:1740, test-size:1246
best_model => error(rmse) : 0.66, param:[30, 64, 0.01], times : 162.232

fold : 7/10
 == train [30, 64, 0.01] model ==   error(RMSE):0.6021695084369161
 == train [30, 64, 0.001] model ==   error(RMSE):0.5939457067814834
train-size:7959, val-size:1989, test-size:1246
best_model => error(rmse) : 0.75, param:[30, 64, 0.001], times : 186.047

fold : 8/10
 == train [30, 64, 0.01] model ==   error(RMSE):0.5613693213337767
 == train [30, 64, 0.001] model ==   error(RMSE):0.6546739813738507
train-size:8956, val-size:2238, test-size:1246
best_model => error(rmse) : 0.62, param:[30, 64, 0.01], times : 209.422

fold : 9/10
 == train [30, 64, 0.01] model ==   error(RMSE):0.6412923171406255
 == train [30, 64, 0.001] model ==   error(RMSE):0.6250081446345845
train-size:9952, val-size:2488, test-size:1246
best_model => error(rmse) : 0.54, param:[30, 64, 0.001], times : 232.769

fold : 10/10
 == train [30, 64, 0.01] model ==   error(RMSE):0.4933842499541295
 == train [30, 64, 0.001] model ==   error(RMSE):0.5204277181561253
train-size:10949, val-size:2737, test-size:1246
best_model => error(rmse) : 0.48, param:[30, 64, 0.01], times : 257.183

In [6]:
def model_evaluation(mse, rmse, mae):
    mse = np.array(mse)
    rmse = np.array(rmse)
    mae = np.array(mae)
    print(f'MSE: mean={np.mean(mse)}, std={np.std(mse)}')
    print(f'RMSE: mean={np.mean(rmse)}, std={np.std(rmse)}')
    print(f'MAE: mean={np.mean(mae)}, std={np.std(mae)}')

model_evaluation(best_mse, best_rmse, best_mae)

# check time
print()
print('[training time]')
print(f'mean : {np.mean(np.array(learning_time))}, last:{learning_time[-1]}')

MSE: mean=0.3447812603822341, std=0.09724183375713005
RMSE: mean=0.5816552634442608, std=0.08036426376083941
MAE: mean=0.5234747067562512, std=0.06607841994455098

[training time]
mean : 151.7065048933029, last:257.1828179359436