In [1]:
import os
import sys

MODULE_PATH = '/content/drive/MyDrive/GitHub/DL_Study/Base'

sys.path.insert(0, MODULE_PATH)
sys.path

['/content/drive/MyDrive/GitHub/DL_Study/Base',
 '',
 '/content',
 '/env/python',
 '/usr/lib/python37.zip',
 '/usr/lib/python3.7',
 '/usr/lib/python3.7/lib-dynload',
 '/usr/local/lib/python3.7/dist-packages',
 '/usr/lib/python3/dist-packages',
 '/usr/local/lib/python3.7/dist-packages/IPython/extensions',
 '/root/.ipython']

In [2]:
# import
import numpy
from config import *
from optim import Adam
from models import LstmModelReg

# for time series split
!pip install scikit-learn==0.24.2

Collecting scikit-learn==0.24.2
  Downloading https://files.pythonhosted.org/packages/a8/eb/a48f25c967526b66d5f1fa7a984594f0bf0a5afafa94a8c4dbc317744620/scikit_learn-0.24.2-cp37-cp37m-manylinux2010_x86_64.whl (22.3MB)
     |████████████████████████████████| 22.3MB 134kB/s
Collecting threadpoolctl>=2.0.0
  Downloading https://files.pythonhosted.org/packages/f7/12/ec3f2e203afa394a149911729357aa48affc59c20e2c1c8297a60f33f133/threadpoolctl-2.1.0-py3-none-any.whl
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==0.24.2) (1.19.5)
Requirement already satisfied: scipy>=0.19.1 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==0.24.2) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==0.24.2) (1.0.1)
Installing collected packages: threadpoolctl, scikit-learn
  Found existing installation: scikit-learn 0.22.2.post1
    Uninstalling scikit-learn-0.22.2.post1:
      Successfully uninstalled scikit-learn-0.22.2.post1
Successfully installed scikit-learn-0.24.2 threadpoolctl-2.1.0

In [3]:
# configuration setting
def model_config():
    # parameter for LSTM Model
    epochs = [30]
    batch_size = [32]
    learning_rate = [0.01, 0.001]
    
    # create config data
    configs = []
    for i in epochs:
        for j in batch_size:
            for k in learning_rate:
                config = [i, j, k]
                configs.append(config)
    return configs

# fucntion for fit cnn model using configs
def model_fit(train_X, train_y, config):
    # unpack config
    n_epochs, n_batch, learning_rate = config
    model = LstmModelReg(time_size=24, hidden_size=64, feature_size=20)
    # fit model and return
    model.fit(train_X=train_X, train_y=train_y, epochs=n_epochs, 
              batch_size=n_batch, learning_rate=learning_rate)
    return model

def MAE_metric(x, t):
    return np.mean(numpy.abs(x-t))

def MSE_metric(x, t):
    return np.mean((x-t)**2)

In [4]:
import zipfile, requests, io
import pandas as pd
import numpy
import time
from datetime import datetime

data_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00580/hungary_chickenpox.zip'
r = requests.get(data_url)
files = zipfile.ZipFile(io.BytesIO(r.content))
df = pd.read_csv(files.open('hungary_chickenpox.csv'), sep=',')
df.drop('Date', axis=1, inplace=True)
df.head()

   BUDAPEST  BARANYA  BACS  BEKES  BORSOD  ...  SZABOLCS  TOLNA  VAS  VESZPREM  ZALA
0       168       79    30    173     169  ...        64     11   29        87    68
1       157       60    30     92     200  ...        29     58   53        68    26
2        96       44    31     86      93  ...        33     24   18        62    44
3       163       49    43    126      46  ...        50     25   21        43    31
4       122       78    53     87     103  ...        56      7   47        85    60

[5 rows x 20 columns]

In [5]:
from scipy.stats import skew, kurtosis
from statsmodels.tsa.stattools import adfuller

# jb = (n/6)*(skewness**2 + (kurtosis**2/4))

def data_statistics(df):
    df = df.dropna()
    data = df.values
    num = len(df)
    skewness_ = skew(data)
    kurtosis_ = kurtosis(data)
    jarque_bera_ = (num/6)*(skewness_**2 + (kurtosis_**2/4))
    result = adfuller(data)
    adf_ = result[0]
    print(f'skewness : {skewness_}')
    print(f'kurtosis : {kurtosis_}')
    print(f'jarque bera : {jarque_bera_}')
    print(f'ADF : {adf_}')

data_statistics(df['BUDAPEST'])

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

skewness : 0.9489236649041097
kurtosis : 1.4006683128498736
jarque bera : 121.01039256493132
ADF : -6.933218014746711

In [6]:
df.describe()

         BUDAPEST     BARANYA        BACS  ...         VAS    VESZPREM        ZALA
count  522.000000  522.000000  522.000000  ...  522.000000  522.000000  522.000000
mean   101.245211   34.204981   37.166667  ...   22.467433   40.636015   19.873563
std     76.354872   32.567222   36.843095  ...   25.006638   40.699471   21.999636
min      0.000000    0.000000    0.000000  ...    0.000000    0.000000    0.000000
25%     34.250000    8.000000    8.000000  ...    3.000000    7.250000    4.000000
50%     93.000000   25.000000   29.500000  ...   13.000000   32.000000   13.000000
75%    149.000000   51.000000   53.000000  ...   34.000000   59.000000   31.000000
max    479.000000  194.000000  274.000000  ...  141.000000  230.000000  216.000000

[8 rows x 20 columns]

In [7]:
df.isnull().sum()

BUDAPEST    0
BARANYA     0
BACS        0
BEKES       0
BORSOD      0
CSONGRAD    0
FEJER       0
GYOR        0
HAJDU       0
HEVES       0
JASZ        0
KOMAROM     0
NOGRAD      0
PEST        0
SOMOGY      0
SZABOLCS    0
TOLNA       0
VAS         0
VESZPREM    0
ZALA        0
dtype: int64

In [8]:
# series data to img function
def series_to_img(dataset, time_step=1):
    num = dataset.shape[1]      # features num
    df = pd.DataFrame(dataset)
    cols, names = list(), list()
    # sequence t-n to t-1
    for i in range(time_step, 0, -1):
        cols.append(df.shift(i))
        names += [('var%d(t-%d)' % (j+1, i)) for j in range(num)]

    for i in range(0, 1):
        cols.append(df.shift(-i))
        if i == 0:
            names += [('var%d(t)' % (j+1)) for j in range(num)]
        else:
            names += [('var%d(t+%d)' % (j+1, i)) for j in range(num)]

    agg = pd.concat(cols, axis=1)
    agg.columns = names
    agg.dropna(inplace=True)
    return agg

from sklearn.model_selection import TimeSeriesSplit
from sklearn.preprocessing import MinMaxScaler

dataset = df.values
dataset = dataset.astype('float')

n_inputs = 24
n_features = 20
del_idx = n_inputs * n_features + 1
del_cols = [i for i in range(del_idx, del_idx+n_features-1)]
new_df = series_to_img(dataset, n_inputs)
new_df.drop(new_df.columns[del_cols], axis=1, inplace=True)
new_df.head()

    var1(t-24)  var2(t-24)  var3(t-24)  ...  var19(t-1)  var20(t-1)  var1(t)
24       168.0        79.0        30.0  ...        69.0        47.0    155.0
25       157.0        60.0        30.0  ...        66.0        70.0     98.0
26        96.0        44.0        31.0  ...        49.0        18.0     87.0
27       163.0        49.0        43.0  ...        51.0        34.0    110.0
28       122.0        78.0        53.0  ...        39.0        14.0     70.0

[5 rows x 481 columns]

In [9]:
n_splits = 10
train_test_split = TimeSeriesSplit(n_splits=n_splits+1, gap=n_inputs).split(new_df)
next(train_test_split)

configs = model_config()
history = []

best_rmse, best_mse, best_mae = [], [], []
learning_time = []
i = 1

print('config : epochs, batch_size, learning_rate')

# neted cross validation
for train_cv_indices, test_cv_indices in train_test_split:
    print(f'fold : {i}/{n_splits}')
    i+=1

    # split x, y data
    train_cv_X, train_cv_y = new_df.iloc[train_cv_indices, :-1].values, new_df.iloc[train_cv_indices,-1].values
    test_cv_X, test_cv_y = new_df.iloc[test_cv_indices, :-1].values, new_df.iloc[test_cv_indices, -1].values

    # length for validation set
    test_length = int(len(train_cv_X)*0.2)

    # scaling data
    scaler_x = MinMaxScaler()
    train_cv_X = scaler_x.fit_transform(train_cv_X)
    test_cv_X = scaler_x.transform(test_cv_X)

    train_X, val_X = train_cv_X[:-test_length, :], train_cv_X[-test_length:, :]
    train_y, val_y = train_cv_y[:-test_length], train_cv_y[-test_length:]

    # reshape
    # inner loop
    train_X = train_X.reshape(-1,  n_inputs, n_features)
    val_X = val_X.reshape(-1, n_inputs, n_features)
    train_y = train_y.reshape(-1, 1)
    val_y = val_y.reshape(-1, 1)

    # outer loop
    train_cv_X = train_cv_X.reshape(-1,  n_inputs, n_features)
    test_cv_X = test_cv_X.reshape(-1, n_inputs, n_features)
    train_cv_y = train_cv_y.reshape(-1, 1)
    test_cv_y = test_cv_y.reshape(-1, 1)

    # model fit, inner
    errors = []
    for idx, cfg in enumerate(configs):
        print(f' == train {cfg} model == ', end=' ')
        model = model_fit(train_X, train_y, cfg)
        model.reset_state()
        predicted = model.predict(val_X)
        if GPU:
            predicted = np.asnumpy(predicted)
        error = np.sqrt(MSE_metric(predicted, val_y))   # rmse
        print(f' error(RMSE):{error}')
        if errors:
            if error < min(errors):
                param = idx
        else:
            param = idx
        errors.append(error)

    history.append(errors)
    
    # check start time
    start_time = time.time()
    # model fitting
    selected_model = model_fit(train_cv_X,train_cv_y, configs[param])
    # check duration
    duration = time.time()-start_time
    selected_model.reset_state()
    predicted = selected_model.predict(test_cv_X)
    if GPU:
        predicted = np.asnumpy(predicted)

    rmse = np.sqrt(MSE_metric(predicted, test_cv_y))
    mse = MSE_metric(predicted, test_cv_y)
    mae = MAE_metric(predicted, test_cv_y)
    best_rmse.append(rmse)
    best_mse.append(mse)
    best_mae.append(mae)
    learning_time.append(duration)

    # model eval
    print(f'train-size:{train_X.shape[0]}, val-size:{val_X.shape[0]}, test-size:{test_cv_X.shape[0]}')
    print(f'best_model => error(rmse) : {rmse.item():.2f}, param:{configs[param]}, times : {duration:.3f}')
    print()

config : epochs, batch_size, learning_rate
fold : 1/10
 == train [30, 32, 0.01] model ==   error(RMSE):69.26281394166463
 == train [30, 32, 0.001] model ==   error(RMSE):95.72915393061227
train-size:52, val-size:12, test-size:41
best_model => error(rmse) : 67.74, param:[30, 32, 0.01], times : 4.286

fold : 2/10
 == train [30, 32, 0.01] model ==   error(RMSE):115.48266745423072
 == train [30, 32, 0.001] model ==   error(RMSE):160.26751564305775
train-size:84, val-size:21, test-size:41
best_model => error(rmse) : 82.49, param:[30, 32, 0.01], times : 6.076

fold : 3/10
 == train [30, 32, 0.01] model ==   error(RMSE):86.59206626429106
 == train [30, 32, 0.001] model ==   error(RMSE):90.26616305528484
train-size:117, val-size:29, test-size:41
best_model => error(rmse) : 60.68, param:[30, 32, 0.01], times : 8.097

fold : 4/10
 == train [30, 32, 0.01] model ==   error(RMSE):61.89265236069293
 == train [30, 32, 0.001] model ==   error(RMSE):81.17416886622175
train-size:150, val-size:37, test-size:41
best_model => error(rmse) : 36.66, param:[30, 32, 0.01], times : 10.040

fold : 5/10
 == train [30, 32, 0.01] model ==   error(RMSE):56.26545039883613
 == train [30, 32, 0.001] model ==   error(RMSE):83.20592198795264
train-size:183, val-size:45, test-size:41
best_model => error(rmse) : 56.87, param:[30, 32, 0.01], times : 13.819

fold : 6/10
 == train [30, 32, 0.01] model ==   error(RMSE):30.92745220181733
 == train [30, 32, 0.001] model ==   error(RMSE):57.47379896800637
train-size:216, val-size:53, test-size:41
best_model => error(rmse) : 32.86, param:[30, 32, 0.01], times : 16.062

fold : 7/10
 == train [30, 32, 0.01] model ==   error(RMSE):51.91070701833184
 == train [30, 32, 0.001] model ==   error(RMSE):62.92107689273096
train-size:248, val-size:62, test-size:41
best_model => error(rmse) : 60.16, param:[30, 32, 0.01], times : 17.947

fold : 8/10
 == train [30, 32, 0.01] model ==   error(RMSE):139.4236237976947
 == train [30, 32, 0.001] model ==   error(RMSE):55.67856032012986
train-size:281, val-size:70, test-size:41
best_model => error(rmse) : 48.16, param:[30, 32, 0.001], times : 20.065

fold : 9/10
 == train [30, 32, 0.01] model ==   error(RMSE):47.96493161711147
 == train [30, 32, 0.001] model ==   error(RMSE):48.22132382242055
train-size:314, val-size:78, test-size:41
best_model => error(rmse) : 33.14, param:[30, 32, 0.01], times : 24.122

fold : 10/10
 == train [30, 32, 0.01] model ==   error(RMSE):47.12376463691463
 == train [30, 32, 0.001] model ==   error(RMSE):48.29560972926791
train-size:347, val-size:86, test-size:41
best_model => error(rmse) : 63.16, param:[30, 32, 0.01], times : 26.606

In [10]:
selected_model.reset_state()
predicted = selected_model.predict(test_cv_X)
if GPU:
    predicted = np.asnumpy(predicted)

def model_evaluation(mse, rmse, mae):
    mse = np.array(mse)
    rmse = np.array(rmse)
    mae = np.array(mae)
    print(f'MSE: mean={np.mean(mse)}, std={np.std(mse)}')
    print(f'RMSE: mean={np.mean(rmse)}, std={np.std(rmse)}')
    print(f'MAE: mean={np.mean(mae)}, std={np.std(mae)}')

model_evaluation(best_mse, best_rmse, best_mae)

# check time
print()
print('[training time]')
print(f'mean : {np.mean(np.array(learning_time))}, last:{learning_time[-1]}')

MSE: mean=3175.883883211593, std=1705.213904145224
RMSE: mean=54.19166873992028, std=15.464375913509743
MAE: mean=37.28697712828473, std=10.663212302501181

[training time]
mean : 14.711944103240967, last:26.60619330406189