In [1]:
import os
import sys

MODULE_PATH = 'C:\Github\DL_Study\Base'

sys.path.insert(0, MODULE_PATH)

In [2]:
# import
import numpy
from config import *
from optim import Adam
from models import LstmModelReg

In [3]:
# configuration setting
def model_config():
    # parameter for LSTM Model
    epochs = [30]
    batch_size = [64]
    learning_rate = [0.01, 0.001]
    
    # create config data
    configs = []
    for i in epochs:
        for j in batch_size:
            for k in learning_rate:
                config = [i, j, k]
                configs.append(config)
    return configs

# fucntion for fit cnn model using configs
def model_fit(train_X, train_y, config):
    # unpack config
    n_epochs, n_batch, learning_rate = config
    model = LstmModelReg(time_size=24, hidden_size=64, feature_size=18)
    # fit model and return
    model.fit(train_X=train_X, train_y=train_y, epochs=n_epochs, 
              batch_size=n_batch, learning_rate=learning_rate)
    return model

def MAE_metric(x, t):
    return np.mean(numpy.abs(x-t))

def MSE_metric(x, t):
    return np.mean((x-t)**2)

In [4]:
# dataset
import zipfile, requests, io
import pandas as pd
import numpy
import time
from datetime import datetime

numpy.random.seed(42)
np.random.seed(42)

df_parser = lambda x: datetime.strptime(x, '%d/%m/%Y %H.%M.%S')
data_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00274/NEW-DATA.zip'
r = requests.get(data_url)
files = zipfile.ZipFile(io.BytesIO(r.content))
df = pd.concat(
    [pd.read_csv(files.open(i), sep=' ') for i in files.namelist()]
)
cols = df.columns.tolist()
cols = cols[2:]+cols[:2]
df.columns = cols
df.drop(df.columns[[0, 1, 18, 19, 20, 24, 25]], axis = 1, inplace=True)
df.drop(columns=df.columns[[1]], axis=1, inplace=True)      # for target column 3
df.head()

,3:Temperature_Comedor_Sensor,5:Weather_Temperature,6:CO2_Comedor_Sensor,7:CO2_Habitacion_Sensor,8:Humedad_Comedor_Sensor,9:Humedad_Habitacion_Sensor,10:Lighting_Comedor_Sensor,11:Lighting_Habitacion_Sensor,12:Precipitacion,13:Meteo_Exterior_Crepusculo,14:Meteo_Exterior_Viento,15:Meteo_Exterior_Sol_Oest,16:Meteo_Exterior_Sol_Est,17:Meteo_Exterior_Sol_Sud,18:Meteo_Exterior_Piranometro,22:Temperature_Exterior_Sensor,23:Humedad_Exterior_Sensor,24:Day_Of_Week
0,18.1875,0.0,216.560,221.920,39.9125,42.4150,81.6650,113.520,0.0,623.360,1.42625,9690.24,12604.20,95436.8,758.880,18.1150,48.3750,2.0
1,18.4633,6.8,219.947,220.363,39.9267,42.2453,81.7413,113.605,0.0,623.211,1.59200,11022.00,10787.20,95436.8,762.069,18.4147,47.8080,2.0
2,18.7673,17.0,219.403,218.933,39.7720,42.2267,81.4240,113.600,0.0,622.656,1.89133,13960.50,9669.63,95398.6,766.251,18.8533,47.4320,2.0
3,19.0727,18.0,218.613,217.045,39.7760,42.0987,81.5013,113.344,0.0,622.571,1.82800,18511.20,9648.13,95360.3,766.037,19.2907,47.0240,2.0
4,19.3721,20.0,217.714,216.080,39.7757,42.0686,81.4657,113.034,0.0,622.400,2.36071,26349.00,9208.32,95354.9,762.743,19.7400,45.4743,2.0

In [5]:
# series data to img function
def series_to_img(dataset, time_step=1):
    num = dataset.shape[1]      # features num
    df = pd.DataFrame(dataset)
    cols, names = list(), list()
    # sequence t-n to t-1
    for i in range(time_step, 0, -1):
        cols.append(df.shift(i))
        names += [('var%d(t-%d)' % (j+1, i)) for j in range(num)]

    for i in range(0, 1):
        cols.append(df.shift(-i))
        if i == 0:
            names += [('var%d(t)' % (j+1)) for j in range(num)]
        else:
            names += [('var%d(t+%d)' % (j+1, i)) for j in range(num)]

    agg = pd.concat(cols, axis=1)
    agg.columns = names
    agg.dropna(inplace=True)
    return agg

from sklearn.model_selection import TimeSeriesSplit
from sklearn.preprocessing import MinMaxScaler

dataset = df.values
dataset = dataset.astype('float')

n_inputs = 24
n_features = 18
del_idx = n_inputs * n_features + 1
del_cols = [i for i in range(del_idx, del_idx+n_features-1)]
new_df = series_to_img(dataset, n_inputs)
new_df.drop(new_df.columns[del_cols], axis=1, inplace=True)
new_df.head()

,var1(t-24),var2(t-24),var3(t-24),var4(t-24),var5(t-24),var6(t-24),var7(t-24),var8(t-24),var9(t-24),var10(t-24),...,var10(t-1),var11(t-1),var12(t-1),var13(t-1),var14(t-1),var15(t-1),var16(t-1),var17(t-1),var18(t-1),var1(t)
24,18.1875,0.0,216.560,221.920,39.9125,42.4150,81.6650,113.520,0.0,623.360,...,615.957,1.088670,3024.90,2229.250,2042.880,24.66530,19.9760,45.8293,2.0,21.7133
25,18.4633,6.8,219.947,220.363,39.9267,42.2453,81.7413,113.605,0.0,623.211,...,615.360,0.844667,2207.74,1576.960,1512.450,15.57000,19.7560,47.0693,2.0,21.6600
26,18.7673,17.0,219.403,218.933,39.7720,42.2267,81.4240,113.600,0.0,622.656,...,614.592,1.442000,1017.86,222.208,293.888,5.00933,19.5273,49.5467,2.0,21.5960
27,19.0727,18.0,218.613,217.045,39.7760,42.0987,81.5013,113.344,0.0,622.571,...,585.984,0.969333,0.00,0.000,0.000,-2.93933,19.3013,52.2027,2.0,21.5307
28,19.3721,20.0,217.714,216.080,39.7757,42.0686,81.4657,113.034,0.0,622.400,...,150.851,0.798667,0.00,0.000,0.000,-3.90400,19.0413,53.8053,2.0,21.4493

In [6]:
n_splits = 10
train_test_split = TimeSeriesSplit(n_splits=n_splits+1, gap=n_inputs).split(new_df)
next(train_test_split)

configs = model_config()
history = []

best_rmse, best_mse, best_mae = [], [], []
learning_time = []
i = 1

print('config : epochs, batch_size, learning_rate')

# neted cross validation
for train_cv_indices, test_cv_indices in train_test_split:
    print(f'fold : {i}/{n_splits}')
    i+=1

    # split x, y data
    train_cv_X, train_cv_y = new_df.iloc[train_cv_indices, :-1].values, new_df.iloc[train_cv_indices,-1].values
    test_cv_X, test_cv_y = new_df.iloc[test_cv_indices, :-1].values, new_df.iloc[test_cv_indices, -1].values

    # length for validation set
    test_length = int(len(train_cv_X)*0.2)

    # scaling data
    scaler_x = MinMaxScaler()
    train_cv_X = scaler_x.fit_transform(train_cv_X)
    test_cv_X = scaler_x.transform(test_cv_X)

    train_X, val_X = train_cv_X[:-test_length, :], train_cv_X[-test_length:, :]
    train_y, val_y = train_cv_y[:-test_length], train_cv_y[-test_length:]

    # reshape
    # inner loop
    train_X = train_X.reshape(-1,  n_inputs, n_features)
    val_X = val_X.reshape(-1, n_inputs, n_features)
    train_y = train_y.reshape(-1, 1)
    val_y = val_y.reshape(-1, 1)

    # outer loop
    train_cv_X = train_cv_X.reshape(-1,  n_inputs, n_features)
    test_cv_X = test_cv_X.reshape(-1, n_inputs, n_features)
    train_cv_y = train_cv_y.reshape(-1, 1)
    test_cv_y = test_cv_y.reshape(-1, 1)

    # model fit, inner
    errors = []
    for idx, cfg in enumerate(configs):
        print(f' == train {cfg} model == ', end=' ')
        model = model_fit(train_X, train_y, cfg)
        model.reset_state()
        predicted = model.predict(val_X)
        if GPU:
            predicted = np.asnumpy(predicted)
        error = np.sqrt(MSE_metric(predicted, val_y))   # rmse
        print(f' error(RMSE):{error}')
        if errors:
            if error < min(errors):
                param = idx
        else:
            param = idx
        errors.append(error)

    history.append(errors)
    
    # check start time
    start_time = time.time()
    # model fitting
    selected_model = model_fit(train_cv_X,train_cv_y, configs[param])
    # check duration
    duration = time.time()-start_time
    selected_model.reset_state()
    predicted = selected_model.predict(test_cv_X)
    if GPU:
        predicted = np.asnumpy(predicted)

    rmse = np.sqrt(MSE_metric(predicted, test_cv_y))
    mse = MSE_metric(predicted, test_cv_y)
    mae = MAE_metric(predicted, test_cv_y)
    best_rmse.append(rmse)
    best_mse.append(mse)
    best_mae.append(mae)
    learning_time.append(duration)

    # model eval
    print(f'train-size:{train_X.shape[0]}, val-size:{val_X.shape[0]}, test-size:{test_cv_X.shape[0]}')
    print(f'best_model => error(rmse) : {rmse.item():.2f}, param:{configs[param]}, times : {duration:.3f}')
    print()

config : epochs, batch_size, learning_rate
fold : 1/10
 == train [30, 64, 0.01] model ==   error(RMSE):1.296866169838688
 == train [30, 64, 0.001] model ==   error(RMSE):1.9671477191823004
train-size:536, val-size:133, test-size:342
best_model => error(rmse) : 0.91, param:[30, 64, 0.01], times : 15.492

fold : 2/10
 == train [30, 64, 0.01] model ==   error(RMSE):0.36533015163736376
 == train [30, 64, 0.001] model ==   error(RMSE):0.6777998153778612
train-size:809, val-size:202, test-size:342
best_model => error(rmse) : 0.31, param:[30, 64, 0.01], times : 24.329

fold : 3/10
 == train [30, 64, 0.01] model ==   error(RMSE):0.31975481016476426
 == train [30, 64, 0.001] model ==   error(RMSE):0.6031657817042354
train-size:1083, val-size:270, test-size:342
best_model => error(rmse) : 0.26, param:[30, 64, 0.01], times : 32.495

fold : 4/10
 == train [30, 64, 0.01] model ==   error(RMSE):0.36480374951586997
 == train [30, 64, 0.001] model ==   error(RMSE):0.441434380187742
train-size:1356, val-size:339, test-size:342
best_model => error(rmse) : 0.18, param:[30, 64, 0.01], times : 40.204

fold : 5/10
 == train [30, 64, 0.01] model ==   error(RMSE):0.2517330935927405
 == train [30, 64, 0.001] model ==   error(RMSE):0.7480501003263978
train-size:1630, val-size:407, test-size:342
best_model => error(rmse) : 0.39, param:[30, 64, 0.01], times : 47.925

fold : 6/10
 == train [30, 64, 0.01] model ==   error(RMSE):0.515437263193899
 == train [30, 64, 0.001] model ==   error(RMSE):0.7872435046997951
train-size:1904, val-size:475, test-size:342
best_model => error(rmse) : 0.16, param:[30, 64, 0.01], times : 57.124

fold : 7/10
 == train [30, 64, 0.01] model ==   error(RMSE):0.21579659188447123
 == train [30, 64, 0.001] model ==   error(RMSE):0.398730428330795
train-size:2177, val-size:544, test-size:342
best_model => error(rmse) : 0.35, param:[30, 64, 0.01], times : 64.826

fold : 8/10
 == train [30, 64, 0.01] model ==   error(RMSE):0.29420701666707916
 == train [30, 64, 0.001] model ==   error(RMSE):0.41152946284125014
train-size:2451, val-size:612, test-size:342
best_model => error(rmse) : 0.29, param:[30, 64, 0.01], times : 72.913

fold : 9/10
 == train [30, 64, 0.01] model ==   error(RMSE):0.3625941859351269
 == train [30, 64, 0.001] model ==   error(RMSE):1.2745713949454847
train-size:2724, val-size:681, test-size:342
best_model => error(rmse) : 0.15, param:[30, 64, 0.01], times : 85.121

fold : 10/10
 == train [30, 64, 0.01] model ==   error(RMSE):0.38675871706673143
 == train [30, 64, 0.001] model ==   error(RMSE):0.8338055119322099
train-size:2998, val-size:749, test-size:342
best_model => error(rmse) : 0.09, param:[30, 64, 0.01], times : 87.920

In [7]:
def model_evaluation(mse, rmse, mae):
    mse = np.array(mse)
    rmse = np.array(rmse)
    mae = np.array(mae)
    print(f'MSE: mean={np.mean(mse)}, std={np.std(mse)}')
    print(f'RMSE: mean={np.mean(rmse)}, std={np.std(rmse)}')
    print(f'MAE: mean={np.mean(mae)}, std={np.std(mae)}')

model_evaluation(best_mse, best_rmse, best_mae)

# check time
print()
print('[training time]')
print(f'mean : {np.mean(np.array(learning_time))}, last:{learning_time[-1]}')

MSE: mean=0.1443310314455596, std=0.23221083725621888
RMSE: mean=0.3101527277859929, std=0.2193999017603867
MAE: mean=0.256112490048771, std=0.18856562954712147

[training time]
mean : 52.83499071598053, last:87.92018866539001